/*
Theme Name: Formite
Theme URI: 
Version: 1.0.0
*/

/* ==========================================================================
   Base styles RESET: opinionated defaults
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  font-style: italic;
}
blockquote p:before {
  color: #313030;
  font-family: "FontAwesome", serif;
  position: absolute;
  line-height: 60px;
  font-size: 100px;
  left: -80px;
  top: 0px;
  content: '\f10d';
}
blockquote p:after {
  color: #313030;
  font-family: "FontAwesome", serif;
  position: absolute;
  line-height: 60px;
  font-size: 100px;
  right: -80px;
  bottom: 0px;
  content:"\f10e";
}
blockquote p {
  font-size: 24px !important;
}
blockquote: before, blockquote: after, q: before, q: after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.form-control {
  height: 38px;
}
/* ==========================================================================
   Font Family : Calibri;
   ========================================================================== */
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ==========================================================================
   Font Family : MyriadPro-Regular;
   ========================================================================== */
@font-face { 
  font-family: 'Conv_MyriadPro-Regular';
 src: url("../fonts/MyriadPro-Regular.eot"); 
 src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"),
  url("../fonts/MyriadPro-Regular.ttf") format("truetype"), 
  url("../fonts/MyriadPro-Regular.svg") format("svg"); 
  font-weight: normal; 
  font-style: normal;
   }

@font-face { 
  font-family: 'Conv_MyriadPro-It'; 
src: url("../fonts/MyriadPro-It.eot"); 
src: local("☺"), url("../fonts/MyriadPro-It.woff") format("woff"), 
url("../fonts/MyriadPro-It.ttf") format("truetype"),
 url("../fonts/MyriadPro-It.svg") format("svg"); 
 font-weight: normal; 
 font-style: normal;
  }

@font-face {
 font-family: 'Conv_MyriadPro-Bold'; 
src: url("../fonts/MyriadPro-Bold.eot"); 
src: local("☺"), url("../fonts/MyriadPro-Bold.woff") format("woff"),
 url("../fonts/MyriadPro-Bold.ttf") format("truetype"), 
 url("../fonts/MyriadPro-Bold.svg") format("svg"); 
 font-weight: normal; font-style: normal;
  }

@font-face { 
  font-family: 'Conv_MyriadPro-BoldIt';
 src: url("../fonts/MyriadPro-BoldIt.eot"); 
 src: local("☺"), url("../fonts/MyriadPro-BoldIt.woff") 
 format("woff"), url("../fonts/MyriadPro-BoldIt.ttf") 
 format("truetype"), url("../fonts/MyriadPro-BoldIt.svg") format("svg"); 
 font-weight: normal;
  font-style: normal; 
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
: : -moz-selection {
 background: #51aa1c;
 text-shadow: none;
 color: #fff;
}
: : selection {
  background: #51aa1c;
  text-shadow: none;
  color: #fff;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'Calibri';
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 18px;
}
p {
  line-height: 24px;
  font-weight: 400;
   font-family: 'Calibri';
}
h1, h2, h3, h4, h5, h6 {
  color: #141414;
  font-family: 'Calibri';
  font-weight: normal;
}
h6 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h4 {
  font-size: 16px;
}
h3 {
  font-size:18px;
}
h2 {
  color: #222222;
  font-size: 20px;
}
h1 {
  color: #222222;
  font-size: 50px;
}
a {
  color: #3498db;
  text-decoration: none;
}
a:focus, a:hover {
    text-decoration: underline;
  color: #52aa1c;
}
/* ==========================================================================
    Base Stylesheet:Main Styles
   ========================================================================== */
   /* ==========================================================================
   Header
   ========================================================================== */
 .navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
#header .navbar-inverse{
  background: rgba(17,19,18,.75);
  height: 110px;

}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
   border-color: rgba(17,19,18,.75);
}

#header  .navbar-brand{
  float: none;
  position: relative;
    top: -6px;
}


 /* ==========================================================================
   Carousel base:Slider
   ========================================================================== */

#myCarousel.carousel {
  height: 848px;
}
/* Since positioning the image, we need to help out the caption */
#myCarousel .carousel-caption {
  z-index: 10;
  text-shadow: none;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  bottom: 24px;
}

/* Declare heights because of positioning of img element */
#myCarousel.carousel .item {
  height: 848px;
  background-color: #777;
}
#myCarousel .carousel-inner > .item > img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 848px;
}

#myCarousel .carousel-caption h1 {
    color: #fff;
        font-size: 56px;
    font-family: 'Conv_MyriadPro-Regular';
    font-weight: 600;

}

#myCarousel .carousel-caption p{
   font-family: 'Conv_MyriadPro-Regular';
  font-size: 27px;
    word-wrap: break-word;
    width: 59%;
    margin: 0px auto;
    line-height: 30px;
    color: #cecece;
}

#myCarousel .carousel-caption .btn-primary{
  background:#c1060e;
  border-radius: 0px;
  border:none;
  text-transform: uppercase;
  margin-top: 28px;
}

#myCarousel .carousel-caption .btn-primary:hover{
  background:rgba(196,6,14,.75);
  border-radius: 0px;
  border:none;

}

/* ==========================================================================
   About
   ========================================================================== */
   #about{
    padding-top: 82px; 
    padding-bottom: 90px;
    background-color: #e0e2d7;
   }

#about h2{
  font-family: 'Conv_MyriadPro-Regular';
  font-size: 38px;
  color: #222222;
  margin-bottom: 59px;
    text-transform: uppercase;
}
#about p{
  font-family: 'Conv_MyriadPro-Regular';
  font-size:21px;
  color: #7c7575;
  margin-bottom: 28px;
}
#about p.red{
  color: #c1060e;
  margin-bottom: 31px;
}

.red{
  color: #d12222;
}
/* ==========================================================================
   Products
   ========================================================================== */
#product{
  padding-top:111px;
  padding-bottom: 171px;
  background: url(../img/parallax-bg.jpg) no-repeat bottom center fixed ;
  background-size: cover; 
}

.heading h2{
font-size: 36px;
font-weight: bold;
position: relative;
}
.heading h2:after{
    content: '';
    width: 82px;
    height: 4px;
    background-color: #c1060e;
    display: block;
    margin: 0px auto;
    margin-top: 22px; 
    margin-bottom: 20px;
}

.heading p{
  color: #323232;
  font-size: 20px;
  margin-bottom: 55px;
}

#product .product-service{
  margin-top: 55px;
}

#product .product-service .products-list{
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}

.caption {
    position: absolute;
    bottom: 22px;
    width: 100%;
}
 .caption p a{
  color: #ffffff;
 }
  .caption p a:hover{
    color: #c1060e;
    transition: all 0.5s ease 0s;
    text-decoration: none;
  }
#product .caption h3{
font-size: 44px;
margin-left: 20px;
color: #ffffff;
 transition: all 0.5s ease 0s;
    text-transform: uppercase;
}
#product .caption p{
  margin-left: 20px;
  color: #e7e7e7;
  text-transform: uppercase;
  font-size: 16px;
   transition: all 0.5s ease 0s;
}

#product .product-service .products-list:hover .caption h3
{text-shadow: 1px 3px 5px #171414;
}
#product .product-service .products-list:hover .caption p a{
  transition: all 0.5s ease 0s;
}
#product .product-service .products-list:hover .caption p a:hover{
 color: #c1c1c1;
}

/* ==========================================================================
   gallery
   ========================================================================== */
#gallery{
  padding-top:80px;
  padding-bottom: 112px;
  background: url(../img/parallax-bg-1.jpg) no-repeat top center ;
  background-size: cover; 
}

#gallery .gallery-service .gallery-list{
  position: relative;
}
#gallery .gallery-service + .gallery-service {
  margin-top: 50px;
}
#gallery .caption h3{
font-size: 30px;
margin-left: 20px;
color: #ffffff;
    text-transform: uppercase;
}
#gallery .caption p{
  margin-left: 20px;
  color: #e7e7e7;
  text-transform: uppercase;
  font-size: 16px;
}
/* ==========================================================================
   best-seller
   ========================================================================== */
#best-seller{
   padding-top:43px;
  padding-bottom: 58px;
   background: url(../img/parallax-bg-2.jpg) no-repeat top center ;
  background-size: cover; 
}
#best-seller .heading h2{
  color: #ffffff;
}
#best-seller .heading h2:after{
  margin-top: 20px;
  margin-bottom: 15px;
  
}
#best-seller .heading p{
  color: #ffffff;
    margin-bottom: 45px;
}

#best-seller .best-seller-service {
   text-align: center;
    color: #ffffff;
}

.best-seller-service-list h3{
  color: #ffffff;
    font-size: 22px;
    margin-top: 20px;
}

/* ==========================================================================
   Free Quote Clients
   ========================================================================== */
#free-quote-clients{
    background: url(../img/parallax-bg-3.jpg)  no-repeat bottom center fixed;
  background-size: cover;  
    padding-top: 136px;
    padding-bottom: 140px;
}
#free-quote-clients h3{
    font-size: 36px;
    color: #ffffff;
    font-family: 'Conv_MyriadPro-Regular';
    margin-bottom: 16px;
    font-weight: 600;
}

#free-quote-clients p{
    font-size: 16px;
    color: #d9d6d6;
    font-family: 'Conv_MyriadPro-Regular';
    margin-bottom: 20px;
}
.free-quote-service-list .form-horizontal .form-group{
  margin-left: 0px;
    margin-right: 0px;
}
.free-quote-service-list .form-control{
    border-radius: 0px;
    color: #898888;
    font-size: 16px;
}
.free-quote-service-list textarea.form-control.msg-textarea{
    height: 97px;
    resize: none;
}
.free-quote-service-list .submit{
    background: #c1060e;
    border-color: #c1060e;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

#clients .clients-caption{
    background: rgba(255,255,255,0.40);
}
#free-quote-clients #clients .clients-caption blockquote{
    padding-left: 47px;
    padding-right: 53px;
    padding-bottom: 53px;
    padding-top: 61px;
    font-style: normal;
}
#free-quote-clients #clients .clients-caption blockquote p {
    font-size: 16px !important;
    color: #323131;
    margin-bottom: 0px;
}
#free-quote-clients #clients .clients-caption blockquote p:before{
    font-size: 26px;
    left: 22px;
    top: 18px;
}

#free-quote-clients #clients .clients-caption blockquote p:after{
    font-size: 26px;
    right: 29px;
    bottom: 18px;
}
.author-name{
    float: right;
    width: 167px;
    color: #fff;
   
}
.author-name .author-text{
   margin-right: 25px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Conv_MyriadPro-Regular';
    font-style: italic;
    font-weight: 600;
}

.author-name .author-img{
    border: 2px solid #fff5f5;
    border-radius: 30px;
    width: 62px;
    height: 62px;
    padding: 4px;
}
/* ==========================================================================
   Latest News
   ========================================================================== */
#latest-news{
    padding-top:104px;
  padding-bottom: 114px;
  background: url(../img/parallax-bg-1.jpg) no-repeat top center ;
  background-size: cover;
}
#latest-news  .thumbnail{
    padding: 0px;
}

#latest-news .caption{
    position: inherit;
    margin-top: 34px;
    
    margin-right: 22px;
}

#latest-news .caption h3{
    color: #2c2c2b;
    font-size: 18px;
    margin-left: 22px;
    font-weight: bold;
    position: relative;
}
#latest-news .caption h3:after{
     content: '';
    width: 42px;
    height: 3px;
    background-color: #c1060e;
    display: block;
    margin-top: 22px; 
    margin-bottom: 14px;
    
}

#latest-news .caption p{
    margin-left: 22px;
        word-wrap: break-word;
    margin-right: 12px;
    color: #808080;
    font-size: 15px;
    line-height: 18px;
}

#latest-news .author{
  margin-bottom: 20px;
}

#latest-news .caption p a {
color: #808080;
font-size: 12px;

}
.btn-link{
    color: #646464;
    font-size: 17px;
}

/* ==========================================================================
   Footer 
   ========================================================================== */
.footer{
    padding-top:77px;
  padding-bottom: 18px;
  background: url(../img/parallax-bg-5.jpg) no-repeat top center ;
  background-size: cover;  
}
.footer h3{
    font-family: 'Conv_MyriadPro-Regular';
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 29px;
    
}

.footer h4{
    color: #b8b6b6;
    margin-top: 29px;
    font-weight: bold
}

.footer p{
    color: #b8b6b6;
    font-size: 16px;
    line-height: 17px;
}

.footer p + p{
    margin-top: 27px;
}

.footer .footer-link a{
    color: #dbdbdb;
    line-height: 18px;
}

.footer #search{
    background-color: #e0e2d7;
    border-radius: 0px;
    width: 292px;
    color: #a2a0a0;
    font-family: 'Conv_MyriadPro-Regular';
    font-weight: 600;
}
.footer .btn-default{
    background: #c1060e;
    font-size: 14px;
    width: 62px;
    height: 38px;
    border-radius: 0px;
    border: none;
    text-shadow: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0px;
    margin-left: -4px;
     font-family: 'Conv_MyriadPro-Regular';
    font-weight: 600;
}

.footer .copyright{
  margin-top: 16px;
  border-top:2px solid #6d6f6a;
}
.footer .copyright p{
  padding: 14px 0px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
}
.font10 {
  font-size: 10px;
}
.font11 {
  font-size: 11px;
}
.font12 {
  font-size: 12px;
}
.font13 {
  font-size: 13px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font24 {
  font-size: 24px;
}
.font26 {
  font-size: 26px;
}
.font30 {
  font-size: 30px;
}
.font36 {
  font-size: 36px;
}
.font48 {
  font-size: 48px;
}
.font60 {
  font-size: 60px;
}
.font72 {
  font-size: 72px;
}
.font90 {
  font-size: 90px;
}
.font-white {
  color: #fff;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500
}
.font-thin-xs {
  font-weight:200 !important;
}
.font-thin {
  font-weight:300 !important;
}
.font-slim {
  font-weight: 400 !important;
}
.font-sbold {
  font-weight: 500 !important;
}
.font-bold {
  font-weight: 600 !important;
}


.font-lowercase {
  text-transform: initial !important;
}
.font-bold {
  font-weight: 700;
}
.font-italic {
  font-style: italic;
}
.mt0 {
  margin-top: 0px;
}
.mt2 {
  margin-top: 2px;
}
.mt4 {
  margin-top: 4px;
}
.mt6 {
  margin-top: 6px;
}
.mt8 {
  margin-top: 8px;
}
.mt10 {
  margin-top: 10px;
}
.mt12 {
  margin-top: 12px;
}
.mt14 {
  margin-top: 14px;
}
.mt16 {
  margin-top: 16px;
}
.mt18 {
  margin-top: 18px;
}
.mt20 {
  margin-top: 20px;
}
.mt22 {
  margin-top: 22px;
}
.mt24 {
  margin-top: 24px;
}
.mt26 {
  margin-top: 26px;
}
.mt28 {
  margin-top: 28px;
}
.mt30 {
  margin-top: 30px;
}
.mt32 {
  margin-top: 32px;
}
.mt34 {
  margin-top: 34px;
}
.mt36 {
  margin-top: 36px;
}
.mt38 {
  margin-top: 38px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt80 {
  margin-top: 80px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb2 {
  margin-bottom: 2px;
}
.mb4 {
  margin-bottom: 4px;
}
.mb6 {
  margin-bottom: 6px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb12 {
  margin-bottom: 12px;
}
.mb14 {
  margin-bottom: 14px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb18 {
  margin-bottom: 18px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb22 {
  margin-bottom: 22px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb26 {
  margin-bottom: 26px;
}
.mb28 {
  margin-bottom: 28px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb34 {
  margin-bottom: 34px;
}
.mb36 {
  margin-bottom: 36px;
}
.mb38 {
  margin-bottom: 38px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb30 {
  margin-bottom: 30px;
}
.m70 {
  margin-right: 70px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb90 {
  margin-bottom: 90px;
}
.mr2 {
  margin-right: 2px;
}
.mr4 {
  margin-right: 4px;
}
.mr6 {
  margin-right: 6px;
}
.mr8 {
  margin-right: 8px;
}
.mr10 {
  margin-right: 10px;
}
.mr12 {
  margin-right: 12px;
}
.mr14 {
  margin-right: 14px;
}
.mr16 {
  margin-right: 16px;
}
.mr18 {
  margin-right: 18px;
}
.mr20 {
  margin-right: 20px;
}
.mr22 {
  margin-right: 22px;
}
.mr24 {
  margin-right: 24px;
}
.mr26 {
  margin-right: 26px;
}
.mr28 {
  margin-right: 28px;
}
.ml0 {
  margin-left: 0px;
}
.ml2 {
  margin-left: 2px;
}
.ml4 {
  margin-left: 4px;
}
.ml6 {
  margin-left: 6px;
}
.ml8 {
  margin-left: 8px;
}
.ml10 {
  margin-left: 10px;
}
.ml12 {
  margin-left: 12px;
}
.ml14 {
  margin-left: 14px;
}
.ml16 {
  margin-left: 16px;
}
.ml18 {
  margin-left: 18px;
}
.ml20 {
  margin-left: 20px;
}
.ml22 {
  margin-left: 22px;
}
.ml24 {
  margin-left: 24px;
}
.ml26 {
  margin-left: 26px;
}
.ml28 {
  margin-left: 28px;
}
.pt0 {
  padding-top: 0px;
}
.pt2 {
  padding-top: 2px;
}
.pt4 {
  padding-top: 4px;
}
.pt6 {
  padding-top: 6px;
}
.pt8 {
  padding-top: 8px;
}
.pt10 {
  padding-top: 10px;
}
.pt12 {
  padding-top: 12px;
}
.pt14 {
  padding-top: 14px;
}
.pt16 {
  padding-top: 16px;
}
.pt18 {
  padding-top: 18px;
}
.pt20 {
  padding-top: 20px;
}
.pt22 {
  padding-top: 22px;
}
.pt24 {
  padding-top: 24px;
}
.pt26 {
  padding-top: 26px;
}
.pt28 {
  padding-top: 28px;
}
.pb0 {
  padding-bottom: 0px;
}
.pb2 {
  padding-bottom: 2px;
}
.pb4 {
  padding-bottom: 4px;
}
.pb6 {
  padding-bottom: 6px;
}
.pb8 {
  padding-bottom: 8px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb12 {
  padding-bottom: 12px;
}
.pb14 {
  padding-bottom: 14px;
}
.pb16 {
  padding-bottom: 16px;
}
.pb18 {
  padding-bottom: 18px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb22 {
  padding-bottom: 22px;
}
.pb24 {
  padding-bottom: 24px;
}
.pb26 {
  padding-bottom: 26px;
}
.pb28 {
  padding-bottom: 28px;
}
.pr0 {
  padding-right: 0px;
}
.pr2 {
  padding-right: 2px;
}
.pr4 {
  padding-right: 4px;
}
.pr6 {
  padding-right: 6px;
}
.pr8 {
  padding-right: 8px;
}
.pr10 {
  padding-right: 10px;
}
.pr12 {
  padding-right: 12px;
}
.pr14 {
  padding-right: 14px;
}
.pr16 {
  padding-right: 16px;
}
.pr18 {
  padding-right: 18px;
}
.pr20 {
  padding-right: 20px;
}
.pr22 {
  padding-right: 22px;
}
.pr24 {
  padding-right: 24px;
}
.pr26 {
  padding-right: 26px;
}
.pr28 {
  padding-right: 28px;
}
.pl0 {
  padding-left: 0px;
}
.pl2 {
  padding-left: 2px;
}
.pl4 {
  padding-left: 4px;
}
.pl6 {
  padding-left: 6px;
}
.pl8 {
  padding-left: 8px;
}
.pl10 {
  padding-left: 10px;
}
.pl12 {
  padding-left: 12px;
}
.pl14 {
  padding-left: 14px;
}
.pl16 {
  padding-left: 16px;
}
.pl18 {
  padding-left: 18px;
}
.pl20 {
  padding-left: 20px;
}
.pl22 {
  padding-left: 22px;
}
.pl24 {
  padding-left: 24px;
}
.pl26 {
  padding-left: 26px;
}
.pl28 {
  padding-left: 28px;
}
.bg-grey {
  background-color: #f5f5f5;
}
.btn-green {
  background-color: #52aa1c;
  color: #fff;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}
.btn-green:hover {
  background-color: #0156a9;
  color: #fff;
  transform: scale(1);
}
.btn-bordered {
  border: 2px solid #52aa1c;
  color: #141414;
  transform: matrix;
  transition: all 0.5s ease 0s;
}
.btn-bordered:hover {
  background-color: #52aa1c;
  color: #fff;
  transform: matrix;
}
.uppercase {
  text-transform: uppercase;
}
.no-border-radius {
  border-radius: 0px;
}
.green-color{
color:#52aa1c;  
}
.blue-color{
color:#0156a9;
}
.black-color {
    color: #141414;
}
.blue-bg{
background-color:#0156a9;
}
.post-img {
    border: 2px solid #e0dfdf;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable: active, .visuallyhidden.focusable: focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix: before, .clearfix: after {
  content: " ";
  /* 1 */

  display: table;/* 2 */
}
.clearfix: after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (min-width:320px) {

  #header .navbar-nav li.visualizerlogo {
    margin-left: 22px;
    margin-top: 15px;
      position: relative;
}
    #header .navbar-inverse{
        -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    }
    #header.shrink .navbar-inverse {
    height: 85px;
    z-index: 20;
    -webkit-box-shadow: 0 0 7px  rgba(65, 64, 66, 1);
    -moz-box-shadow: 0 0 7px  rgba(65, 64, 66, 1);
    box-shadow: 0 0 7px rgba(65, 64, 66, 1);

}
#header .navbar-brand>img{
   -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    width: 100%;
}
#header.shrink .navbar-brand>img{
    width: 75%;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}
    #header{
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color:#fff;
    z-index: 1000;
   /* overflow: hidden;*/
    
    /*line-height:160px*/;
   -webkit-box-shadow: 0 0 7px  rgba(65, 64, 66, 1);
    -moz-box-shadow: 0 0 7px  rgba(65, 64, 66, 1);
    box-shadow: 0 0 7px rgba(65, 64, 66, 1);
}
    
    #header .navbar-nav li.visualizerlogo:after{
   content: '';
    width: 145px;
    position: absolute;
    height: 3px;
    background: #c1060e;
    bottom: -18px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    }

#header  .navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
}

#header .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{
  background: none;
  box-shadow:none;
  /* color: #c1060e;*/
   text-shadow: none;

}

#header  .navbar-inverse .navbar-nav>li>a:focus, 
#header  .navbar-inverse .navbar-nav>li>a:hover{
  color: #e01d25;
}




}

@media(min-width: 768px) {
  #header .navbar-nav {
    margin-left: 224px;
        margin-top: 20px;
}
}

@media(min-width: 992px) {}

@media(min-width: 1200px) {}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
*, *: before, *: after, *: first-letter, *: first-line {
  background: transparent !important;
  color: #000 !important;
  /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */

  box-shadow: none !important;
  text-shadow: none !important;
}
a, a: visited {
  text-decoration: underline;
}
a[href]: after {
  content: " (" attr(href)")";
}
abbr[title]: after {
  content: " (" attr(title)")";
}
/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

a[href^="#"]: after, a[href^="javascript:"]: after {
  content: "";
}
pre, blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}
/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

thead {
  display: table-header-group;
}
tr, img {
  page-break-inside: avoid;
}
img {
  max-width: 100% !important;
}
p, h2, h3 {
  orphans: 3;
  widows: 3;
}
h2, h3 {
  page-break-after: avoid;
}
}