/*
Theme Name: Formite
Theme URI: 
Version: 1.0.0
*/

/* ==========================================================================
   Base styles RESET: opinionated defaults
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  font-style: italic;
}
blockquote p:before {
  color: #313030;
  font-family: "FontAwesome", serif;
  position: absolute;
  line-height: 60px;
  font-size: 100px;
  left: -80px;
  top: 0px;
  content: '\f10d';
}
blockquote p:after {
  color: #313030;
  font-family: "FontAwesome", serif;
  position: absolute;
  line-height: 60px;
  font-size: 100px;
  right: -80px;
  bottom: 0px;
  content:"\f10e";
}
blockquote p {
  font-size: 24px !important;
}
blockquote: before, blockquote: after, q: before, q: after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.form-control {
  height: 38px;
}
img{
  width: 100%;
  max-width: 100%;
}
/* .alert-success{
display: none;
}
.alert-success.ng-binding{
  display: block !important;
} */
/* ==========================================================================
   Font Family : Calibri;
   ========================================================================== */
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ==========================================================================
   Font Family : Rage;
   ========================================================================== */
@font-face {
    font-family: 'rage_italicregular';
    src: url('../fonts/911fonts.com_rageitalicregular__-_911fonts.com_fonts_rbri-webfont.woff2') format('woff2'),
         url('../fonts/911fonts.com_rageitalicregular__-_911fonts.com_fonts_rbri-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* ==========================================================================
   Font Family : MyriadPro-Regular;
   ========================================================================== */
@font-face { 
  font-family: 'Conv_MyriadPro-Regular';
 src: url("../fonts/MyriadPro-Regular.eot"); 
 src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"),
  url("../fonts/MyriadPro-Regular.ttf") format("truetype"), 
  url("../fonts/MyriadPro-Regular.svg") format("svg"); 
  font-weight: normal; 
  font-style: normal;
   }

@font-face { 
  font-family: 'Conv_MyriadPro-It'; 
src: url("../fonts/MyriadPro-It.eot"); 
src: local("☺"), url("../fonts/MyriadPro-It.woff") format("woff"), 
url("../fonts/MyriadPro-It.ttf") format("truetype"),
 url("../fonts/MyriadPro-It.svg") format("svg"); 
 font-weight: normal; 
 font-style: normal;
  }

@font-face {
 font-family: 'Conv_MyriadPro-Bold'; 
src: url("../fonts/MyriadPro-Bold.eot"); 
src: local("☺"), url("../fonts/MyriadPro-Bold.woff") format("woff"),
 url("../fonts/MyriadPro-Bold.ttf") format("truetype"), 
 url("../fonts/MyriadPro-Bold.svg") format("svg"); 
 font-weight: normal; font-style: normal;
  }

@font-face { 
  font-family: 'Conv_MyriadPro-BoldIt';
 src: url("../fonts/MyriadPro-BoldIt.eot"); 
 src: local("☺"), url("../fonts/MyriadPro-BoldIt.woff") 
 format("woff"), url("../fonts/MyriadPro-BoldIt.ttf") 
 format("truetype"), url("../fonts/MyriadPro-BoldIt.svg") format("svg"); 
 font-weight: normal;
  font-style: normal; 
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
: : -moz-selection {
 background: #51aa1c;
 text-shadow: none;
 color: #fff;
}
: : selection {
  background: #51aa1c;
  text-shadow: none;
  color: #fff;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'Calibri';
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  line-height: 18px;
  overflow-x: hidden;
}
p {
  line-height: 24px;
  font-weight: 400;
   font-family: 'Calibri';
}
h1, h2, h3, h4, h5, h6 {
  color: #141414;
  font-family: 'Calibri';
  font-weight: normal;
}
h6 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h4 {
  font-size: 16px;
}
h3 {
  font-size:18px;
}
h2 {
  color: #222222;
  font-size: 20px;
}
h1 {
  color: #222222;
  font-size: 50px;
}
a {
  color: #3498db;
  text-decoration: none;
}
a:focus, a:hover {
    text-decoration: underline;
  color: #52aa1c;
}
/* ==========================================================================
    Base Stylesheet:Main Styles
   ========================================================================== */
   /* ==========================================================================
   Header
   ========================================================================== */
 .navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
  #header .navbar-nav {
   /* margin-left: 214px;*/
        margin-top: 20px;
        float: right;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
#header .navbar-inverse{
  background: rgba(17,19,18,.75);
  height: 110px;

}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
   border-color: rgba(17,19,18,.75);
}

#header  .navbar-brand{
  float: none;
  position: relative;
    top: -6px;
}

#header .navbar-nav li.visualizerlogo {
    margin-left: 22px;
    margin-top: 15px;
      position: relative;
}
    #header .navbar-inverse{
        -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    }
    #header.shrink .navbar-inverse {
    height: 85px;
    z-index: 20;
    -webkit-box-shadow: 0 0 7px  rgba(65, 64, 66, 1);
    -moz-box-shadow: 0 0 7px  rgba(65, 64, 66, 1);
    box-shadow: 0 0 7px rgba(65, 64, 66, 1);

}
#header .navbar-brand>img{
   -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    width: 100%;
    max-width: 100%;
}
#header.shrink .navbar-brand>img{
    width: 75%;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}
    #header{
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color:#fff;
    z-index: 1000;
   /* overflow: hidden;*/
    
    /*line-height:160px*/;
   -webkit-box-shadow: 0 0 7px  rgba(65, 64, 66, 1);
    -moz-box-shadow: 0 0 7px  rgba(65, 64, 66, 1);
    box-shadow: 0 0 7px rgba(65, 64, 66, 1);
}
    
    #header .navbar-nav li.visualizerlogo:after{
   content: '';
    width: 145px;
    position: absolute;
    height: 3px;
    background: #c1060e;
    bottom: -18px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    }

#header  .navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
}

#header .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{
  background: none;
  box-shadow:none;
  /* color: #c1060e;*/
   text-shadow: none;

}

#header  .navbar-inverse .navbar-nav>li>a:focus, 
#header  .navbar-inverse .navbar-nav>li>a:hover{
  color: #e01d25;
}

#header .navbar-inverse .navbar-nav>.active>a, 
#header .navbar-inverse .navbar-nav>.active>a:focus, 
#header .navbar-inverse .navbar-nav>.active>a:hover,
#header .dropdown-menu>li>a:focus, 
#header .dropdown-menu>li>a:hover,
#header .dropdown-menu>.active>a, 
#header .dropdown-menu>.active>a:focus, 
#header .dropdown-menu>.active>a:hover {
    background: none;
    color: #e01d25 !important;
    outline: 0;

}

#header .navbar-nav>li>.dropdown-menu{
    top: 90.4px;
    min-width: 100px;
    background: rgba(17,19,18,.75);
  
}

#header.shrink .navbar-nav>li>.dropdown-menu{
 top: 64px;
  min-width: 100px;
}
.dropdown-menu>li>a{
    color: #fff!important;
    text-transform: uppercase;
}

 /* ==========================================================================
   Carousel base:Slider
   ========================================================================== */

#myCarousel.carousel {
  height: 652px;
  overflow: hidden;
  background: #e0e2d7;
}
/* Since positioning the image, we need to help out the caption */
#myCarousel .carousel-caption {
     z-index: 10;
    text-shadow: none;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    top: 65%;
}

/* Declare heights because of positioning of img element */
#myCarousel.carousel .item {
  height: 650px;
  background-color: #777;
}
#myCarousel .carousel-inner > .item > img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 650px;
}

#myCarousel .carousel-caption h1 {
color: #fff;
    font-size: 55px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000;
    letter-spacing: 4px;

}
.transition-timer-carousel-progress-bar {
    height: 3px;
    background-color: rgba(17,19,18,.75);
    width: 0%;
    margin: 0px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}

#myCarousel .carousel-caption p{
   font-family: 'Lato', sans-serif;
  font-size: 27px;
    word-wrap: break-word;
    width: 59%;
    margin: 0px auto;
    line-height: 30px;
    color: #cecece;
        text-shadow: 1px 2px 3px #000;
}

#myCarousel .carousel-caption .btn-primary{
  background:#c1060e;
  border-radius: 0px;
  border:none;
  text-transform: uppercase;
  margin-top: 28px;
}

#myCarousel .carousel-caption .btn-primary:hover{
  background:rgba(196,6,14,.75);
  border-radius: 0px;
  border:none;

}
.content.text-right {
       height: 126px;
}

.content.text-right.height-none {
       height: auto;
}


/* ==========================================================================
   About
   ========================================================================== */
   #about{
    padding-top: 82px; 
    padding-bottom: 90px;
    background-color: #e0e2d7;
   }

#about h2{
  font-family: 'Conv_MyriadPro-Regular';
  font-size: 38px;
  color: #222222;
  margin-bottom: 30px;
    text-transform: uppercase;
}
#about p{
  font-family: 'Conv_MyriadPro-Regular';
  font-size:17px;
  color: #7c7575;
  margin-bottom: 28px;
}
#about p.red{
  color: #c1060e;
  margin-bottom: 14px;
      font-size: 22px;
}

.red{
  color: #d12222 !important;
}
/* ==========================================================================
   Products
   ========================================================================== */
#product{
  padding-top:40px;
  padding-bottom: 40px;
  background: url(../img/parallax-bg.jpg) no-repeat bottom center fixed ;
  background-size: cover; 
}

.heading h2{
font-size: 36px;
font-weight: bold;
position: relative;
}
.heading h2:after{
    content: '';
    width: 82px;
    height: 4px;
    background-color: #c1060e;
    display: block;
    margin: 0px auto;
    margin-top: 22px; 
    margin-bottom: 20px;
}

.heading p{
  color: #323232;
  font-size: 20px;
  margin-bottom: 30px;
}

/*#product .product-service{
  margin-top: 0px;
}*/

#product .product-service + .product-service{
  margin-top: 25px;
}

#product .product-service .products-list{
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}

#product .product-service .products-list .shadow {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: .5s ease;
    background-color: #1e1c1d;
}
.caption {
    position: absolute;
    bottom: 22px;
    width: 100%;
    z-index: 9;
}
 .caption p a{
  color: #ffffff;
 }
  .caption p a:hover{
    color: #c1060e;
    transition: all 0.5s ease 0s;
    text-decoration: none;
  }
#product .caption h3{
font-size: 34px;
margin-left: 20px;
color: #ffffff;
 transition: all 0.5s ease 0s;
    text-transform: uppercase;
}
#product .caption h3 a{
  color: #ffffff;
}
#product .caption h3 a:hover,
#product .caption h3 a:focus{
  text-decoration: none;
}

#product .caption p{
  margin-left: 20px;
  color: #e7e7e7;
  text-transform: uppercase;
  font-size: 16px;
   transition: all 0.5s ease 0s;
}

#product .product-service .products-list:hover .caption h3
{text-shadow: 1px 3px 5px #171414;
}
#product .product-service .products-list:hover .caption p a{
  transition: all 0.5s ease 0s;
}
#product .product-service .products-list:hover .caption p a:hover{
 color: #c1060e;
}

/* ==========================================================================
   gallery
   ========================================================================== */
#gallery{
  padding-top:40px;
  padding-bottom: 40px;
  background: url(../img/parallax-bg-1.jpg) no-repeat top center ;
  background-size: cover; 
}

#gallery .gallery-service .gallery-list,
#gallery .gallery-service .gallery-list .col-md-4{
  position: relative;
}
#gallery .gallery-service .gallery-list .shadow{

  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: .5s ease;
  background-color: #1e1c1d;
  z-index: 1;

}
#gallery .gallery-service + .gallery-service {
  margin-top: 25px;
}
#gallery .caption h3{
font-size: 30px;
margin-left: 20px;
color: #ffffff;
 text-transform: uppercase;
font-size: 34px;
margin-left: 20px;
display: table-caption;
}
#gallery .caption h3 a{
  color: #ffffff;
}
#gallery .caption h3 a:hover,
#gallery .caption h3 a:active,
#gallery .caption h3 a:focus{
  text-decoration: none;
      text-shadow: 1px 3px 5px #171414;
}
#gallery .caption p{
  margin-left: 20px;
  color: #e7e7e7;
  text-transform: uppercase;
  font-size: 16px;
}
/* ==========================================================================
   best-seller
   ========================================================================== */
#best-seller{
   padding-top:43px;
  padding-bottom: 58px;
   background: url(../img/parallax-bg-2.jpg) no-repeat top center ;
  background-size: cover; 
}
#best-seller .heading h2{
  color: #ffffff;
}
#best-seller .heading h2:after{
  margin-top: 20px;
  margin-bottom: 15px;
  
}
#best-seller .heading p{
  color: #ffffff;
    margin-bottom: 45px;
}
#carousel-best-seller .carousel-indicators{
      bottom: -40px;
}
#best-seller .best-seller-service {
   text-align: center;
    color: #ffffff;
}

.best-seller-service-list h3{
  color: #ffffff;
    font-size: 22px;
    margin-top: 20px;
}

/* ==========================================================================
   Free Quote Clients
   ========================================================================== */
#free-quote-clients{
    background: url(../img/parallax-bg-3.jpg)  no-repeat bottom center fixed;
  background-size: cover;  
    padding-top: 136px;
    padding-bottom: 140px;
}
#free-quote-clients h3{
    font-size: 36px;
    color: #ffffff;
    font-family: 'Conv_MyriadPro-Regular';
    margin-bottom: 16px;
    font-weight: 600;
}

#free-quote-clients p{
    font-size: 16px;
    color: #d9d6d6;
    font-family: 'Conv_MyriadPro-Regular';
    margin-bottom: 20px;
}
.free-quote-service-list .form-horizontal .form-group{
  margin-left: 0px;
    margin-right: 0px;
}
.free-quote-service-list .form-control{
    border-radius: 0px;
    color: #898888;
    font-size: 16px;
}
.free-quote-service-list textarea.form-control.msg-textarea{
    height: 97px;
    resize: none;
}
.free-quote-service-list .submit{
    background: #c1060e;
    border-color: #c1060e;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

#clients .clients-caption{
    background: rgba(255,255,255,0.40);
}
#free-quote-clients #clients .clients-caption blockquote{
    padding-left: 47px;
    padding-right: 53px;
    padding-bottom: 53px;
    padding-top: 61px;
    font-style: normal;
}
#free-quote-clients #clients .clients-caption blockquote p {
    font-size: 16px !important;
    color: #323131;
    margin-bottom: 0px;
}
#free-quote-clients #clients .clients-caption blockquote p:before{
    font-size: 26px;
    left: 22px;
    top: 18px;
}

#free-quote-clients #clients .clients-caption blockquote p:after{
    font-size: 26px;
    right: 29px;
    bottom: 18px;
}
.author-name{
    float: right;
    width: 167px;
    color: #fff;
   
}
.author-name .author-text{
   margin-right: 25px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Conv_MyriadPro-Regular';
    font-style: italic;
    font-weight: 600;
}

.author-name .author-img{
    border: 2px solid #fff5f5;
    border-radius: 30px;
    width: 62px;
    height: 62px;
    padding: 4px;
}
/* ==========================================================================
   Latest News
   ========================================================================== */
#latest-news{
    padding-top:104px;
  padding-bottom: 114px;
  background: url(../img/parallax-bg-1.jpg) no-repeat top center ;
  background-size: cover;
}
#latest-news.partners{
  padding-top:58px;
  background: none;
  padding-bottom: 0px;
}
.h-165{
  height: 165px;
}
#camera_wrap_1{
  margin-bottom: 20px;
}
#latest-news  .thumbnail{
    padding: 0px;
    background: none;
    box-shadow: none;
    border:none;
    border-radius: 0px;
    border-bottom:3px solid #c1060e; 
   /*  box-shadow: 2px 2px 2px #000; */
}
#latest-news  .thumbnail:after{
     content: '';
    background: url(../img/box-shadow.png) no-repeat;
    height: 35px;
    width: 100%;
    max-width: 581px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    bottom: -15px;
}

#latest-news .caption{
    position: inherit;
    margin-top: 34px;
    
    margin-right: 22px;
}

#latest-news .caption h3{
    color: #2c2c2b;
    font-size: 18px;
    margin-left: 22px;
    font-weight: bold;
    position: relative;
}
#latest-news .caption h3:after{
     content: '';
    width: 42px;
    height: 3px;
    background-color: #c1060e;
    display: block;
    margin-top: 22px; 
    margin-bottom: 14px;
    
}

#latest-news .caption p{
    margin-left: 22px;
        word-wrap: break-word;
    margin-right: 12px;
    color: #808080;
    font-size: 15px;
    line-height: 18px;
}

#latest-news .author{
  margin-bottom: 20px;
}

#latest-news .caption p a {
color: #808080;
font-size: 12px;

}
.btn-link{
    color: #646464;
    font-size: 17px;
}
.heading-title{
    color: #e01f27;
    font-size: 30px;
    margin-bottom: 23px;
    text-transform: uppercase;
}
/* innerpartner  */
.innerpartner h2{
color: #222222;
font-size: 32px;
text-transform: uppercase;
margin-bottom: 20px;
}
.innerpartner p{
  color: #686868;
  font-size: 20px;
}
.innerpartner h3{ 
  color: #686868;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
 }
.partner-sidebar {
  background: #d2d2c8;
  padding-top: 15px;
  padding-bottom: 15px;
  border-left: 4px solid #c1060e;
  margin-bottom:30px;
}
.partner-sidebar li.title a{
color: #494741;
font-size: 20px;
margin-bottom: 15px;
}

.partner-sidebar li.title a:hover,
.partner-sidebar li.title a:focus{
  text-decoration: none;
    background-color: transparent;
   
}
.partner-sidebar li a:hover,
.partner-sidebar li a:focus{
  color: #e01f27;
   background-color: transparent;
   padding-left: 20px;
}
.partner-sidebar li a{
  padding: 4px 15px;
  font-size: 18px;
  color: #222222;
  transition: padding .4s  ease;
}
.partner-sidebar li + li{
margin-bottom: 20px;
}

.partner-sidebar li.active a{
  color: #e01f27;
    background-color: transparent;
    background-color: transparent;
  padding-left: 20px;
}
.partner-sidebar li.active a:after{
  display: block;
  content:"\f101";
  font-family: 'FontAwesome';
    position: absolute;
    top: 4px;
    right: 22px;
    color: #e01f27;
    margin: auto 0px;
}
.partner-sidebar li.active a:focus,
.partner-sidebar li.active a:hover
{
  color: #e01f27;
  font-weight: bold;
  background-color: transparent;
  padding-left: 20px;
}


/* ==========================================================================
   Contact 
   ========================================================================== */
   #content.contact-us{
background: #e0e2d7;
padding-top: 84px;
padding-bottom: 38px;
   }

   #content.contact-us .contact-title{
    font-family: "Courier New",monospace;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: #646464;
    margin-bottom: 62px;
   }
#content.contact-us h3 {
  color: #c1060e;
  font-size: 34px;
  margin-top: 28px;
  margin-bottom: 23px;
}
#content.contact-us p{
  margin-bottom: 68px;
  font-size: 24px;
}
#content.contact-us .media{
  margin-bottom: 50px;
}
#content.contact-us .media .media-left i{
  color:#646464;
  font-size: 24px;
}
#content.contact-us .media-body.media-middle, .media-left.media-middle, .media-right.media-middle{
      vertical-align: middle;
}
#content.contact-us .media-body p{
  color: #323131;
  font-size: 26px;
   margin-bottom: 0px;
   font-weight: lighter;
}
#content.contact-us .media-body p a{
  color: #323131; 
}
#content.contact-us .media-body p a:hover,
#content.contact-us .media-body a:hover{
    text-decoration:none;
}
#content.contact-us .media-body a{
  color: #323131;
  font-size: 26px;
   margin-bottom: 0px;
   font-weight: lighter; 
}

#content.contact-us .media .media-heading{
  font-size: 24px;
}
.form-contact-bg{
  background: #363936;
  border:24px solid #ffffff;
}
.form-get-cell .title{
  font-family: 'Pacifico', cursive;
  color: #e0e2d7;
  font-size: 30px;
  text-align: center;

  margin-bottom: 40px;
}
.form-get-cell,
.form-write-us{
  padding: 23px 40px 40px 40px;
}
.form-get-cell{
  border-bottom: 7px solid #ffffff;
}
.form-write-us .title{
  font-family: 'Pacifico', cursive;
  color: #e0e2d7;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.form-get-cell .btn-default{
  margin-top: 32px;
}
.form-get-cell .form-control,
.form-write-us .form-control {
    height: auto;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #fff;
    border-radius: 0px;
    color: #ffffff;
}
.form-get-cell .btn-default,
.form-write-us .btn-default{
     background: #c1060e;
    color: #ffffff;
    width: 148px;
    text-transform: uppercase;
    border-color: #c1060e;
    font-size: 18px;
    height: 48px;
}
.form-get-cell ::placeholder,
.form-write-us ::placeholder
 {
  color: #ffffff !important;
}

.form-write-us .btn-default{
  margin-top: 26px;
}

.form-get-cell option,
.form-write-us option
 {
  color: #333 !important;
}
.social-media-contact li{
    width: 52px;
  height: 52px;
  background: #ffffff;
  border-radius: 50px;
      text-align: center;
       transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}
.social-media-contact li + li{
  margin-left: 10px;
}
.social-media-contact li a {
 font-size: 24px;
    color: #395793;
    text-align: center;
    line-height: 50px;
   
}
.social-media-contact li:nth-child(1){
  border: 1px solid #45508e;
}
.social-media-contact li:nth-child(2){
  border: 1px solid #2baacd;
}
.social-media-contact li:nth-child(2) a{
  color: #2baacd;
}
.social-media-contact li:nth-child(3){
  border: 1px solid #1e1c1d;
}
.social-media-contact li:nth-child(3) a{
  color: #1e1c1d;
}
.social-media-contact li:nth-child(4){
  border: 1px solid #f84d45;
}
.social-media-contact li:nth-child(4) a{
  color: #f84d45;
}
.social-media-contact li:hover{
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* ==========================================================================
   Footer 
   ========================================================================== */
.footer{
    padding-top:77px;
  padding-bottom: 18px;
  background: url(../img/parallax-bg-5.jpg) no-repeat top center ;
  background-size: cover;  
}
.footer h3{
    font-family: 'Conv_MyriadPro-Regular';
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 15px;pro
    
}

.footer h4{
    color: #b8b6b6;
    margin-top: 20px;
    font-weight: bold
}

.footer p{
    color: #b8b6b6;
    font-size: 16px;
    line-height: 17px;
}
.footer p a{
   color: #b8b6b6;
}

.footer p + p{
    margin-top: 20px;
}

.footer .footer-link a{
    color: #dbdbdb;
    line-height: 18px;
}

.footer #search{
    background-color: #e0e2d7;
    border-radius: 0px;
    width: 292px;
    color: #a2a0a0;
    font-family: 'Conv_MyriadPro-Regular';
    font-weight: 600;
}
.footer .btn-default{
    background: #c1060e;
    font-size: 14px;
    width: 62px;
    height: 38px;
    border-radius: 0px;
    border: none;
    text-shadow: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0px;
    margin-left: -4px;
     font-family: 'Conv_MyriadPro-Regular';
    font-weight: 600;
}

.footer .copyright{
  margin-top: 16px;
  border-top:2px solid #6d6f6a;
}
.footer .copyright p{
  padding: 14px 0px;
}

/* ==========================================================================
   INNER PAGES
   ========================================================================== */
#myCarousel.page-header{
 height: 381px;
  margin: 0px
}
#myCarousel.page-header .item{
 height: 381px;
}
#myCarousel.page-header .carousel-inner > .item > img{
position: relative;
height: 381px;
}

#myCarousel.page-header .page-heading {
    position: absolute;
    right: 0px;
    bottom: 25px;
    left: 0px;
    color: #fff;
    text-align: left;
    max-width: 1170px;
    width: 100%;
    margin: 0px auto;
}
#myCarousel.page-header .page-heading h2{
color: #ffffff;
font-size: 48px; 
font-family: 'Conv_MyriadPro-Regular';
font-weight: 700;
text-transform: uppercase;
position: relative;
}
#myCarousel.page-header .page-heading h2:after{
      content: '';
    position: absolute;
    height: 9px;
    background: #e01f27;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: -25px;
    max-width: 225px;
}
   /* ==========================================================================
   Products
   ========================================================================== */
#products-content, #gallery-content{
  background: #e0e2d7;
  padding-top: 68px;
   padding-bottom: 123px;
}
#products-content.innerp{
  padding-bottom: 0px;
}
#content{
    background: #e0e2d7;
    padding-top: 48px;
    padding-bottom: 123px;;
}
#content-one {
    background: #e0e2d7;
    padding-top: 32px;
   padding-bottom: 30px;
}
#content-one.introduction .heading h3 {
    color: #e01f27;
    font-size: 30px;
    margin-bottom: 23px;
}
#content.introduction{
  padding-bottom: 40px;;
}
#content.introduction .heading h3{
  color: #e01f27;
  font-size: 30px;
    margin-bottom: 23px;
    text-transform: uppercase;
}
.text-uppercase{
  text-transform: uppercase;
}
#content.introduction h5{
  font-size: 28px;
  color: #4a4841;
  margin-bottom: 20px;
}
#content.introduction img{
  max-width: 100%;
  width: 100%;
}
#content.introduction p{
  color: #7c7575;
  font-size: 18px;
}
#content .heading h3 {
    color: #646464;
    font-size: 26px;
    margin-bottom: 23px;
}
#content .heading p {
    color: #7c7575;
    font-size: 18px;
    margin-bottom: 35px;
}
#content.introduction .heading p{
color: #7c7575;
}
#content-one .heading-para{
  font-size: 50px;
    line-height: 43px;
    color: #e26e27;
    text-transform: uppercase;
    font-weight: 700;
}
#content-one .heading-para .col-md-4{
    padding: 18px 0px 0px;
}
#content-one .heading-para sup{
  font-size: 33px;
  color: #4a4841;
}
#content-one .heading-para sub{
      font-size: 33px;
    color: #746f5b;
    position: relative;
    top: 1px;
}
#content-one .heading-para span.one{
  color: #b60a0e;
  /*display: block;*/
}
#content-one .heading-para span.two{
  color: #282221;
  display: block;
}
#content-one .heading-para span.three{
  color: #4a4841;
  display: block;
}

#content-one .heading-para span.three sup{
  color: #746f5b;
    position: relative;
    left: 10px;
    top: -13px;
}
#content-one .heading-para span.three sub{
  color: #e26e27;
    position: relative;
    left: -16px;
    top: 1px;
}

#content-one .heading-para span.four{
  color: #746f5b;
  display: block;
}
#content-one h3{
  font-size: 24px;
  color: #4a4841;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#content-one .row + .row{
  margin-top: 60px;
}
#content-one p{
  font-size: 18px;
  color: #4a4841;
  margin-bottom: 80px;
}
#myCarousel.page-header.timeline-achive h2:after{
      max-width: 294px;
}
#myCarousel.page-header.intro h2:after{
      max-width: 318px;
}
#myCarousel.page-header.our-mission h2:after{
      max-width: 273px;
}
#products-content .product-section{
  margin-bottom: 54px;
}
#gallery-content .heading p {
     margin-bottom:4px;
     color: #7c7575;
}
#gallery-content .heading p stronge,.heading stronge{
  font-weight: 700;
  color: #646464;
}
#products-content .heading h3{
  color: #646464;
  font-size: 30px;
  margin-bottom: 29px;
}

#products-content .heading p{
  color: #7c7575;
  font-size: 17px;
  margin-bottom: 93px;
}
#products-content .formite-link{
  background: url('../img/formite-link.png');
  width: 26px;
  height: 13px;
  display: block;
  margin: 0px auto;
  margin-bottom: 11px;
}
.products-inner .subheading{
     position: relative;
    height: 72px;

}
.products-inner .subheading a:hover{
text-decoration: none;
}
.products-inner .subheading h3{
  font-size:33px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 14px;

}
 .products-inner .figcaption{
  position: relative;
 }
 .products-inner .caption{
  background: rgba(49,41,41,.45);
  height: 100%;
  width: 100%;
  bottom: 0px;
  opacity: 0;
  display: block;
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
} 
.products-inner:hover .caption{
  opacity: 1;
}
.products-inner .caption-heading {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.products-inner .caption p{
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 0px 56px;
/*  margin-bottom: 91px;*/
}
.products-inner .caption-heading .btn-trigger{
  margin-top: 20px;
  margin-bottom: 21px;
}
.more-info{
  width: 99px;
  height: 30px;
  background: #e0e2d7;
  font-size: 22px;
color: #44433f ;
padding: 3px 13px;
border-radius: 15px;
border:2px solid #ffffff;
display: block;
    margin: 0px auto;
}
.more-info:hover{
  text-decoration: none;
}

.product-sidebar ul.nav.nav-pills.nav-stacked {
    margin-top: 67px;
    display: block;
}
.product-sidebar .nav-pills>li>a {
    border-radius: unset;
    border-left: 4px solid #e01f27;
   padding: 22.5px 15px;
    background: #d2d2c8;
    color: #222222;
       font-size: 18px;
  
}
.product-sidebar .nav-pills>li{
  position: relative;
}
.product-sidebar .nav-pills>li:after{
      display: block;
   content:"\f101";
    font-family: 'FontAwesome';
    position: absolute;
    top: 18px;
    right: 22px;
    color: #e64c52;
    margin: auto 0px;

}
.product-sidebar .nav-pills>li.active>a, 
.product-sidebar .nav-pills>li.active>a:focus, 
.product-sidebar .nav-pills>li.active>a:hover {
    color: #e0e2d7;
    background-color: #e64c52;
     border-left: 4px solid #2d2f2c;
  
}
.product-sidebar .nav-pills>li.active{
  position: relative;
}
.product-sidebar .nav-stacked>li+li{
          margin-top: 22px;
}
.product-sidebar .nav-pills>li.active:after {
    display: block;
    content: "\f103";
    font-family: 'FontAwesome';
    position: absolute;
    top: 18px;
    right: 22px;
    color: #fff;
    margin: auto 0px;
}
.products-inner-content h3{
font-size: 32px;
color: #222222;
text-transform: uppercase;
margin-bottom: 26px;
}
#formite-product-history{
  background: url('../img/formite-bg.jpg');
  background-repeat-y:repeat;
}
#formite-product-history .media .media-left img{
width: auto;
max-width: 137px;
}
#formite-product-history h3{
  font-size: 30px;
  color: #e01f27;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
  font-weight: bold;
}
#formite-product-history .media .media-left{
  padding-top: 30px;
  padding-left: 20px;
}
#formite-product-history .media .media-body{
    padding-top: 30px;
    padding-right: 20px;

  }
  #formite-product-history .media .media-body p{
    color: #4a4841;
font-weight: 600;
    font-size: 15px;
    text-align: justify;
  }
#formite-product-history .text-color{
padding-left: 20px;
padding-right: 20px;
color: #4a4841;
font-weight: 600;
font-size: 15px;
    padding-bottom: 60px;
}
#formite-product-history h5{
padding-left: 20px;
padding-right: 20px;
font-size: 30px;
color: #736357;
text-transform: uppercase;
margin-bottom: 30px;
}
#formite-product-history h5 span.green{
  color: #00a651;
}
#formite-product-history h5 span.light-blue{
  color: #6dcff6;
}
#formite-product-history h5 span.red{
  color: #e01f27;
}
#formite-product-history h5 span.dark-blue{
  color: #0076a3;
}
#formite-product-history h5 span.orange{
  color: #f26522;
}
#formite-product-history h5 span.light-green{
  color: #8dc63f;
}
#formite-product-history h5 span.color-lifestyle{
color: #00bff3;
}
.innerPorduct p{
    color: #7c7575;
   font-size: 20px;
    margin-bottom: 20px
}
.innerPorduct .list-unstyled {
    color: #7c7575;
    font-size: 20px;
    margin-bottom: 20px;
    list-style-type: upper-latin;
    padding-left: 20px;
}
.innerPorduct .list-unstyled li{
    color: #7c7575;
    font-size: 20px;
    line-height: 24px;
        font-family: 'Calibri';

}
.section-white{
  background: #ffffff;
  padding-top: 48px;
  padding-bottom: 120px;
}
.ads + .ads{
margin-top: 30px;
}
.first-img{
     overflow: hidden;
    height: 100%;
    max-height: 296px;
}
.second-img{
  overflow: hidden;
  height: 100%;
  max-height: 175px;
}
#products-content.innerp.inner-gallery{
  padding-bottom: 48px;
  margin-bottom: 8px;
}
.inner-gallery .ads{
  margin-top: 32px;
}
.content-inner img{
margin-bottom:20px;

}
.content-inner p:last-child{
  margin-top: 20px;
  margin-bottom: 0px;
}

.listingproductQuality{

}
.listingproductQuality .table {
   empty-cells: hide;
}
.listingproductQuality .table>tbody>tr>td{
  width: 245px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  color: #353535;
  font-weight: 700;
}
.table-width{
  width:926px !important;
    margin: 0px auto;
}
.table-hide{
      border: 1px solid transparent !important;
}
.m-t-70{
margin-top: 70px;
}

.listingproductQuality .table>tbody>tr>td img{
      width: 140px;
}
.listingproductQuality .table>tbody>tr>th
{
vertical-align: middle;
 text-align: left;
 background: #676767;
 color: #ffffff;
 font-size: 16px;
}
#socialmediaLink{
  background: rgba(22,22,19,.85);
   width: 95px;
    height: 309px;
    display: block;
    position: fixed;
    right: 0px;
    top: 180px;
    z-index: 1;
    transition: 0.5s;
}
#socialmediaLink .socialHeader{
  display: inline-block;
}
#socialmediaLink .socialHeader h3{
    writing-mode: tb-rl;
    transform: rotate(179deg);
    color: #d12222;
    font-size: 30px;
    font-family: 'rage_italicregular';
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 7px;
    margin-top: 31px;
}
#socialmediaLink main {
    position: absolute;
    top: 67px;
    left: 45px;
}
#socialmediaLink main li {
    margin-bottom: 10px;
}
#socialmediaLink.socialicon {
    background: none;
    top: 270px;
    transform: rotate(91deg);
    right: 274px;
    transition: 0.5s;
}
#socialmediaLink.socialicon .socialHeader{
  display: block;

}
#socialmediaLink.socialicon .socialHeader h3{
  font-family: 'Conv_MyriadPro-Regular';
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 29px;
    margin-top: 52px;
}

#socialmediaLink.socialicon main img {
    transform: rotate(-90deg);
}
.gallery-service{
 margin-bottom: 30px;
}
.gallery-service:last-child{
  margin-bottom: 0px;
}
.inner-gallery-banner{
  margin-top: 60px;
  margin-bottom: 60px;
}
#gallery-content .gallery-list .col-md-4{
  margin:0px auto;
}
#gallery-content .gallery-list {
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
#gallery-content .gallery-list .shadow {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: .5s ease;
    background-color: #1e1c1d;
}
#gallery-content .gallery-list .caption{
   background: #252c2c;
    color: #919189;
    position: initial;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 56px;
}

#gallery-content .gallery-list .caption h3{
 color: #e01f27;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-size: 34px;
    text-transform: uppercase;
    position: absolute;
    top: 169px;
    left: 24px;
}

#gallery-content .gallery-list .caption p{
   color: #f5f5f5;
    margin: 0px 25px;
}
#products-content.innerp.inner-gallery .thumbnail{
  box-shadow: none;
  overflow: hidden;
}
#products-content.innerp.inner-gallery .thumbnail img {-webkit-transform: scale(1);transform: scale(1);-webkit-transition: all .4s ease-in-out;transition: all .4s ease-in-out;}
#products-content.innerp.inner-gallery .thumbnail:hover img {-webkit-transform: scale(1.3);transform: scale(1.3);}
#products-content.innerp.inner-gallery .caption{
  position:inherit;
}

#products-content.innerp.inner-gallery .caption p{
  margin-bottom: 0px;
}
#products-content.innerp.inner-gallery .caption p span{
  float: right;
  color: #e01f27;
}
.icon-search{
/* background: url(../img/gallery-icon.png) no-repeat; */
height: 52px;
width: 52px;
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hover {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 85px auto;
    text-align: center;

}
.hover:hover .icon-search{
  background: url(../img/gallery-icon.png) no-repeat;
-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
#products-content.innerp.inner-gallery .thumbnail:hover .icon-search{
  background: url(../img/gallery-icon.png) no-repeat;
-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
#products-content.innerp.inner-gallery .hover p{
  margin-bottom: 0px;
}
.hover .btn-default,
.hover .btn-default.active.focus, .hover .btn-default.active:focus, 
.hover .btn-default.active:hover, .hover .btn-default:active.focus, 
.hover .btn-default:active:focus, .hover .btn-default:active:hover
{
  background: none;
  box-shadow: none;
  border:none;
}
/* ==========================================================================
   Timeline
   ========================================================================== */

#timeline-achive{
  padding-top: 90px;
  position: relative;
}
#timeline-achive img{
  width: auto;
  max-width: inherit;
}
.timeline-year-1 {
     position: relative;
    top: -62px;
}
.timeline-year-2 {
     position: relative;
    top: -38px;
}

.timeline-year-3 {
     position: relative;
    top: -38px;
}

.timeline-year-4 {
     position: relative;
    top: -38px;
}
.timeline-year-5 {
     position: relative;
    top: -12px;
}
#timeline-achive .row + .row{
  margin-top: 5px;
}
.border-right{
    border-width: 12px;
    border-right-style: dotted;
    border-right-color: #e0e2d7;
}

.border-left{
    border-width: 12px;
    border-left-style: dotted;
    border-left-color: #e0e2d7;
}

.mission-one img{
  width: auto;
  max-width: inherit;
}
.white-bg{
  background: #ffffff !important;
}
.timeline-badge {
           color: #fff;
    width: 15px;
    height: 15px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: -1px;
    left: 106%;
    margin-left: -23px;
    background-color: #525453;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
 }
  .badge-two{
  top: 23px;
 }
  .badge-four{
  top: 23px;
 }
 .badge-five{
  top: 43px;
 }
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
}
.font10 {
  font-size: 10px;
}
.font11 {
  font-size: 11px;
}
.font12 {
  font-size: 12px;
}
.font13 {
  font-size: 13px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font24 {
  font-size: 24px;
}
.font26 {
  font-size: 26px;
}
.font30 {
  font-size: 30px;
}
.font36 {
  font-size: 36px;
}
.font48 {
  font-size: 48px;
}
.font60 {
  font-size: 60px;
}
.font72 {
  font-size: 72px;
}
.font90 {
  font-size: 90px;
}
.font-white {
  color: #fff;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500
}
.font-thin-xs {
  font-weight:200 !important;
}
.font-thin {
  font-weight:300 !important;
}
.font-slim {
  font-weight: 400 !important;
}
.font-sbold {
  font-weight: 500 !important;
}
.font-bold {
  font-weight: 600 !important;
}


.font-lowercase {
  text-transform: initial !important;
}
.font-bold {
  font-weight: 700;
}
.font-italic {
  font-style: italic;
}
.mt0 {
  margin-top: 0px;
}
.mt2 {
  margin-top: 2px;
}
.mt4 {
  margin-top: 4px;
}
.mt6 {
  margin-top: 6px;
}
.mt8 {
  margin-top: 8px;
}
.mt10 {
  margin-top: 10px;
}
.mt12 {
  margin-top: 12px;
}
.mt14 {
  margin-top: 14px;
}
.mt16 {
  margin-top: 16px;
}
.mt18 {
  margin-top: 18px;
}
.mt20 {
  margin-top: 20px;
}
.mt22 {
  margin-top: 22px;
}
.mt24 {
  margin-top: 24px;
}
.mt26 {
  margin-top: 26px;
}
.mt28 {
  margin-top: 28px;
}
.mt30 {
  margin-top: 30px;
}
.mt32 {
  margin-top: 32px;
}
.mt34 {
  margin-top: 34px;
}
.mt36 {
  margin-top: 36px;
}
.mt38 {
  margin-top: 38px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt80 {
  margin-top: 80px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb2 {
  margin-bottom: 2px;
}
.mb4 {
  margin-bottom: 4px;
}
.mb6 {
  margin-bottom: 6px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb12 {
  margin-bottom: 12px;
}
.mb14 {
  margin-bottom: 14px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb18 {
  margin-bottom: 18px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb22 {
  margin-bottom: 22px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb26 {
  margin-bottom: 26px;
}
.mb28 {
  margin-bottom: 28px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb34 {
  margin-bottom: 34px;
}
.mb36 {
  margin-bottom: 36px;
}
.mb38 {
  margin-bottom: 38px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}

.mb52 {
  margin-bottom: 52px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb68 {
  margin-bottom: 68px;
}
.m70 {
  margin-right: 70px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb90 {
  margin-bottom: 90px;
}
.mr2 {
  margin-right: 2px;
}
.mr4 {
  margin-right: 4px;
}
.mr6 {
  margin-right: 6px;
}
.mr8 {
  margin-right: 8px;
}
.mr10 {
  margin-right: 10px;
}
.mr12 {
  margin-right: 12px;
}
.mr14 {
  margin-right: 14px;
}
.mr16 {
  margin-right: 16px;
}
.mr18 {
  margin-right: 18px;
}
.mr20 {
  margin-right: 20px;
}
.mr22 {
  margin-right: 22px;
}
.mr24 {
  margin-right: 24px;
}
.mr26 {
  margin-right: 26px;
}
.mr28 {
  margin-right: 28px;
}
.ml0 {
  margin-left: 0px;
}
.ml2 {
  margin-left: 2px;
}
.ml4 {
  margin-left: 4px;
}
.ml6 {
  margin-left: 6px;
}
.ml8 {
  margin-left: 8px;
}
.ml10 {
  margin-left: 10px;
}
.ml12 {
  margin-left: 12px;
}
.ml14 {
  margin-left: 14px;
}
.ml16 {
  margin-left: 16px;
}
.ml18 {
  margin-left: 18px;
}
.ml20 {
  margin-left: 20px;
}
.ml22 {
  margin-left: 22px;
}
.ml24 {
  margin-left: 24px;
}
.ml26 {
  margin-left: 26px;
}
.ml28 {
  margin-left: 28px;
}
.pt0 {
  padding-top: 0px;
}
.pt2 {
  padding-top: 2px;
}
.pt4 {
  padding-top: 4px;
}
.pt6 {
  padding-top: 6px;
}
.pt8 {
  padding-top: 8px;
}
.pt10 {
  padding-top: 10px;
}
.pt12 {
  padding-top: 12px;
}
.pt14 {
  padding-top: 14px;
}
.pt16 {
  padding-top: 16px;
}
.pt18 {
  padding-top: 18px;
}
.pt20 {
  padding-top: 20px;
}
.pt22 {
  padding-top: 22px;
}
.pt24 {
  padding-top: 24px;
}
.pt26 {
  padding-top: 26px;
}
.pt28 {
  padding-top: 28px;
}
.pb0 {
  padding-bottom: 0px;
}
.pb2 {
  padding-bottom: 2px;
}
.pb4 {
  padding-bottom: 4px;
}
.pb6 {
  padding-bottom: 6px;
}
.pb8 {
  padding-bottom: 8px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb12 {
  padding-bottom: 12px;
}
.pb14 {
  padding-bottom: 14px;
}
.pb16 {
  padding-bottom: 16px;
}
.pb18 {
  padding-bottom: 18px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb22 {
  padding-bottom: 22px;
}
.pb24 {
  padding-bottom: 24px;
}
.pb26 {
  padding-bottom: 26px;
}
.pb28 {
  padding-bottom: 28px;
}
.pr0 {
  padding-right: 0px;
}
.pr2 {
  padding-right: 2px;
}
.pr4 {
  padding-right: 4px;
}
.pr6 {
  padding-right: 6px;
}
.pr8 {
  padding-right: 8px;
}
.pr10 {
  padding-right: 10px;
}
.pr12 {
  padding-right: 12px;
}
.pr14 {
  padding-right: 14px;
}
.pr16 {
  padding-right: 16px;
}
.pr18 {
  padding-right: 18px;
}
.pr20 {
  padding-right: 20px;
}
.pr22 {
  padding-right: 22px;
}
.pr24 {
  padding-right: 24px;
}
.pr26 {
  padding-right: 26px;
}
.pr28 {
  padding-right: 28px;
}
.pl0 {
  padding-left: 0px;
}
.pl2 {
  padding-left: 2px;
}
.pl4 {
  padding-left: 4px;
}
.pl6 {
  padding-left: 6px;
}
.pl8 {
  padding-left: 8px;
}
.pl10 {
  padding-left: 10px;
}
.pl12 {
  padding-left: 12px;
}
.pl14 {
  padding-left: 14px;
}
.pl16 {
  padding-left: 16px;
}
.pl18 {
  padding-left: 18px;
}
.pl20 {
  padding-left: 20px;
}
.pl22 {
  padding-left: 22px;
}
.pl24 {
  padding-left: 24px;
}
.pl26 {
  padding-left: 26px;
}
.pl28 {
  padding-left: 28px;
}
.bg-grey {
  background-color: #f5f5f5;
}
.btn-green {
  background-color: #52aa1c;
  color: #fff;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}
.btn-green:hover {
  background-color: #0156a9;
  color: #fff;
  transform: scale(1);
}
.btn-bordered {
  border: 2px solid #52aa1c;
  color: #141414;
  transform: matrix;
  transition: all 0.5s ease 0s;
}
.btn-bordered:hover {
  background-color: #52aa1c;
  color: #fff;
  transform: matrix;
}
.uppercase {
  text-transform: uppercase;
}
.no-border-radius {
  border-radius: 0px;
}
.green-color{
color:#52aa1c;  
}
.blue-color{
color:#0156a9;
}
.black-color {
    color: #141414;
}
.blue-bg{
background-color:#0156a9;
}
.post-img {
    border: 2px solid #e0dfdf;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable: active, .visuallyhidden.focusable: focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix: before, .clearfix: after {
  content: " ";
  /* 1 */

  display: table;/* 2 */
}
.clearfix: after {
  clear: both;
}
/*  ---------------------------------------------------------
  Responsive web design
  ---------------------------------------------------------*/
  @media screen and (max-width: 1024px) {
     #myCarousel.carousel, #myCarousel.carousel .item {
    height: 452px;
  }
     #product .caption h3 , #gallery .caption h3{
    font-size: 25px;
  }
  .footer #search{
    width: auto;
  }
  }
   
@media screen and (max-width: 980px){
  .fluid-container{
    width:100%;
  }
  #myCarousel.carousel, #myCarousel.carousel .item {
    height: 350px;
  }
  #myCarousel.carousel.page-header, #myCarousel.carousel.page-header .item, #myCarousel .carousel-inner > .item > img{
    height: 350px;
  }
  #myCarousel.page-header .page-heading {
    left: 20px;
}
.mission-one img{
  width: 100%;
  max-width: 100%;
}
  #product .caption h3 , #gallery .caption h3{
    font-size: 25px;
  }
  .h-165{
    height: auto;
  }
  .footer #search{
    width: auto;
  }
  #gallery .gallery-service .gallery-list .shadow{
    width: 89%;
  }

}
/*@media (max-width: 991px) { 
  }*/
@media screen and (max-width: 800px) {
  #header .navbar-brand{
    position: inherit;
  }
  #header .navbar-brand > img {
    width: 17%;
    max-width: all;
  }
  #header.shrink .navbar-brand > img{
   width: 15%;
    max-width: max-content;
  }
  #myCarousel.carousel.page-header, #myCarousel.carousel.page-header .item, #myCarousel .carousel-inner > .item > img{
    height: 250px;
  }
#content-one .heading-para{
  font-size:40px; 
}

     .navbar-header { float: none; } 
  .navbar-left,
  .navbar-right { float: none !important; } 
  .navbar-toggle { display: block; } 
  .navbar-collapse { 
    background: rgba(17,19,18,.75);
    width: 27%;
    float: right;
     }
   .navbar-fixed-top { top: 0; border-width: 0 0 1px; } 
   .navbar-collapse.collapse { display: none!important; } 
   .navbar-nav { float: none!important; margin-top: 7.5px; } 
   .navbar-nav>li { float: none; } .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; } 
   .collapse.in{ display:block !important; }
    #header .collapse.in { top: 1px;  position: relative;}
   #header.shrink .collapse.in {    top: -16px;  position: relative;}
  #myCarousel.carousel, #myCarousel.carousel .item, #myCarousel .carousel-inner > .item > img{
    height: 420px;
  }
  #myCarousel .carousel-caption{
    top: 50%;
  }
  #header .navbar-nav li.visualizerlogo{
    height: 25px;
  }
  #header .navbar-nav li.visualizerlogo img{
    width: 60%;
  }
  #header .navbar-nav li.visualizerlogo:after {
    bottom: 0;
    left: -24px;

}

}

@media screen and (max-width: 768px) {
  #socialmediaLink{
    display: none;
  }
  .res-footer{
    margin-bottom: 20px;
  }

   #gallery-content .gallery-service .gallery-list{
  margin-bottom: 20px;
  }

}

@media screen and (max-width: 720px) {
  #myCarousel.carousel, #myCarousel.carousel .item, #myCarousel .carousel-inner > .item > img{
    height:320px;
  }
  #myCarousel.carousel.page-header, #myCarousel.carousel.page-header .item, #myCarousel .carousel-inner > .item > img {
    height: 200px;
}
  #myCarousel .carousel-caption h1{
    font-size: 30px;
  }
  #myCarousel .carousel-caption p{
    font-size: 20px;
  }
  .navbar-collapse{
    width:100%;
  }
  #myCarousel.page-header .page-heading h2{
    font-size:36px;
  }
  #content.contact-us .contact-title{
    font-size: 30px;
  }
}
@media screen and (max-width: 640px) {
  #header .navbar-inverse{
    height: 70px;
  }
    #product .caption h3, #gallery .caption h3{
    font-size: 18px
  }
}
@media screen and (max-width: 540px) {

}
@media screen and (max-width: 480px){}
@media screen and (max-width:360px){

   #myCarousel.carousel, #myCarousel.carousel .item, #myCarousel .carousel-inner > .item > img{
    height:250px;
  }
  #myCarousel .carousel-caption h1{
    font-size: 20px;
  }
  #myCarousel .carousel-caption p{
    font-size: 14px;
  }
  #product .product-service .col-xs-4,  #gallery .gallery-service .col-xs-4{
    width: 100%;
    margin-bottom: 20px;
  }
    #product .caption h3, #gallery .caption h3{
    font-size: 35px
  }
  #gallery .gallery-service .gallery-list .shadow{
    width: 92%;
  }
 
}
@media screen and (max-width:320px){}
@media screen and (max-width:240px){}


/*min */

@media screen and (min-width:320px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}


@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
        font-size: 78px;
    color: #222222;
}
@media (max-width: 1920px){
  #socialmediaLink.socialicon{
    top: 200px;
  }
}

@media (max-width: 1366px){
  #socialmediaLink.socialicon{
        top: 265px;
  }
}

@media (max-width: 1280px){
#socialmediaLink.socialicon {
   top: 180px;
    right: 244px;
}
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
*, *: before, *: after, *: first-letter, *: first-line {
  background: transparent !important;
  color: #000 !important;
  /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */

  box-shadow: none !important;
  text-shadow: none !important;
}
a, a: visited {
  text-decoration: underline;
}
a[href]: after {
  content: " (" attr(href)")";
}
abbr[title]: after {
  content: " (" attr(title)")";
}
/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

a[href^="#"]: after, a[href^="javascript:"]: after {
  content: "";
}
pre, blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}
/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

thead {
  display: table-header-group;
}
tr, img {
  page-break-inside: avoid;
}
img {
  max-width: 100% !important;
}
p, h2, h3 {
  orphans: 3;
  widows: 3;
}
h2, h3 {
  page-break-after: avoid;
}
}